@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.telaHome{
    max-width: 1082px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 69px 17px;
}

h1{
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

h2{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin: 15px 0px;
}

button:hover{
    cursor: pointer;
}


ion-icon:hover{
    cursor: pointer;
}

.firstQuizz{
    width: 100%;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 60px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #FAFAFA;
    padding: 33px;
}

.firstQuizz p{
    max-width: 250px;
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.firstQuizz button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #FAFAFA;
    text-align: center;
    cursor: pointer;
}

.firstQuizz button p{
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
}

.categoriaQuizz{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;    
}

.categoriaQuizz ion-icon{
    font-size: 25px;
    margin: 0 15px;
    color: #EC362D;
    cursor: pointer;
}

.allQuizzes, .myQuizzes{
    display: flex;
    flex-wrap: wrap;
}

.boxQuizz{
    width: 334px;
    height: 181px;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(img/image-quizz.png);*/
    background-color: #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    position: relative;  
    cursor: pointer; 
    word-wrap: break-word;
}

.boxQuizz img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.boxQuizz p{
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    margin: 0px 15px 10px 15px;    
    text-align: center;   
}

.telaQuizz{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capaQuizz{
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 69px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.capaQuizz img{
    width: 100%;
    height: 227px;
    position: relative;
}

.capaQuizz p{
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
}

.boxPerguntas, .boxResultado{
    width: 760px;
    height: auto;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;    
    background-color: #FFFFFF;
}

.tituloBox{
    width: 100%;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.tituloBox p, .tituloBoxResultado p{
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}

.opcoesBox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.alternativaBox{
    width: 330px;
    height: 175px;
    cursor: pointer;
    margin: 20px 0 30px 0;
}

.alternativaBox img{
    width: 330px;
    height: 175px;
}

.alternativaBox p{    
    font-size: 21px;
    font-weight: 700;
    margin-top: 8px;
}

.boxResultado{
    height: auto;
}

.tituloBoxResultado{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    text-align: center;
    padding: 5px;
}

.resultadoBox{
    width: 100%;
    height: 273px;
    margin-top: 20px;
    display: flex;   
}

.resultadoBox img {
    width: 364px;
    height: 273px;
}

.resultadoBox p{
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    margin: 10px 20px 0 20px;
}

.botoesFinalizarQuizz{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnReiniciarQuizz{
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    font-size: 21px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;  
}

.botoesFinalizarQuizz p{
    margin: 20px 0 50px 0;
    font-size: 21px;
    color: #818181;
    cursor: pointer;
}

.naoSelecionado{
    opacity: 0.3;
}

.textoVerde{
    color: #009C22;
}

.textoVermelho{
    color: #FF4B4B;
}

.telaInicialQuizz{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.telaInicialQuizz>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-top: 140px;
}

.telaInicialQuizz>div{
    margin-top: 30px;
    width: 600px;
    height: 256px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 16px;
}

input{
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: solid 1px #d1d1d1;
    padding-left: 18px;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #BABABA;
}

.telaInicialQuizz button{
    margin-top: 85px; 
    width: 370px;
    height: 54px;
    background-color: #EC362D; 
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 44px;
    padding: 17px 0px;
}

.perguntasQuizz{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.perguntasQuizz>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-top: 140px;
}

.containerPerguntas{
    margin-top: 30px;
}

.pergunta {
    width: 600px;
    margin-top: 24px;
    padding: 30px 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    position: relative;
}

.pergunta p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
}

.pergunta ion-icon{
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 26px;
    color: #000000;
}

.pergunta p:nth-child(1){
    margin-top: 0px;
}

.pergunta input{
    width: 100%;
    height: 46px;
    margin-top: 15px;
}

.perguntasQuizz button{
    margin-top: 44px; 
    margin-bottom: 44px;
    padding: 17px 0px;
    width: 370px;
    height: 54px;
    background-color: #EC362D; 
    border-radius: 15px;
    box-sizing: initial;
    border: none;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


.niveisQuizz {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.niveisQuizz>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-top: 140px;
}

.containerPerguntas{
    margin-top: 30px;
}

.nivel {
    width: 600px;
    margin-top: 24px;
    padding: 30px 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    position: relative;
}

.nivel p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
}

.nivel ion-icon{
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 26px;
    color: #000000;
}

.nivel p:nth-child(1){
    margin-top: 0px;
}

.nivel input{
    width: 100%;
    height: 46px;
    margin-top: 15px;
}

.niveisQuizz input:nth-child(4){
    height: 177px;
    padding-bottom: 130px;
}

.niveisQuizz button{
    margin-top: 44px; 
    margin-bottom: 44px;
    padding: 17px 0px;
    width: 370px;
    height: 54px;
    background-color: #EC362D; 
    border-radius: 15px;
    box-sizing: initial;
    border: none;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.finalizacaoQuizz{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.finalizacaoQuizz>p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
    margin-top: 140px;
}

.finalizacaoQuizz>div{
    position: relative;
    margin-top: 49px;
    display: flex;
    height: 266px;
    width: 500px;
}

.finalizacaoQuizz img{
    height: 266px;
    width: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.finalizacaoQuizz div p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}


.meuQuizz{
    margin-top: 44px; 
    padding: 17px 0px;
    width: 370px;
    height: 54px;
    background-color: #EC362D; 
    border-radius: 15px;
    box-sizing: initial;
    border: none;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.voltarHome p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #818181;   
    margin-top: 22px;
    margin-bottom: 30px;
}

.voltarHome{
    border: none;
    background-color: inherit;
}


.hide{
    display: none;
}

@media (max-width: 1100px){
    .telaHome{
        max-width: 760px;        
    }

    .allQuizzes, .myQuizzes{
        justify-content: space-between;
    }

    .boxQuizz{
        margin-right: 0px;
    }
}

@media (max-width: 760px){
    
    .telaHome{
        max-width: 375px;        
    }

    .firstQuizz{
        margin: 30px 0px;  
    }

    .boxQuizz{
        width: 350px;
        height: 191px;
        margin-right: 0px;
        justify-content: space-between;
    }
    
    .boxQuizz img{
        width: 350px;
        height: 191px;
    }

    .categoriaQuizz{       
        justify-content: space-between;        
    }

    .categoriaQuizz{
        margin-top: 20px;
    }

    /* Tela Quizz */

    .capaQuizz{
        height: 142px;
        margin: 69px 0 24px 0;
    }

    .capaQuizz p{
        font-size: 19px;
    }

    .boxPerguntas{
        width: 375px;
        height: 436px;
        padding: 18px 18px 0 18px;
        margin-bottom: 30px;    
    }
    
    .tituloBox{
        width: 100%;
        height: 89px;
        margin-bottom: 13px;
    }
    
    .tituloBox p{
        font-size: 19px;
    }
    
    .alternativaBox{
        width: 163px;
        height: 113px;
    }
    
    .alternativaBox img{
        width: 163px;
        height: 113px;
    }
    
    .alternativaBox p{    
        font-size: 13px;
        font-weight: 700;
        margin-top: 8px;
    }

    /* Fim Tela Quizz */
  
    .boxResultado{
        width: 375px;
        height: 436px;
        padding: 18px 18px 0 18px;
    } 
    .tituloBoxResultado{
        height: 100px;
    }

    .tituloBoxResultado p{
        font-size: 17px;
    }
    .resultadoBox{
        flex-direction: column;
        background-color: green;    
    }

    .resultadoBox img {
        width: 100%;
        height: 255px;
    }

    .resultadoBox p{
        font-size: 17px;
        margin: 10px 2px 10px 2px;
    }

    .botoesFinalizarQuizz{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btnReiniciarQuizz{
        width: 260px;
        height: 52px;
        background: #EC362D;
        border-radius: 15px;
        font-size: 21px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center; 
        cursor: pointer;  
    }

    .botoesFinalizarQuizz p{
        margin: 20px 0 50px 0;
        font-size: 21px;
        color: #818181;
        cursor: pointer;
    }

}

@media (max-width: 614px){
    .telaInicialQuizz>div,.telaInicialQuizz input,.containerPerguntas,.pergunta,.pergunta input, .containerNiveis,.nivel, .nivel input{
        width: 100%;
    }
    .finalizacaoQuizz>div,.finalizacaoQuizz img{
        width: 340px;
        height: 181px;
    }
    
    .meuQuizz{
        width: 221px;
        height: 44px;
    }
    .telaInicialQuizz input{
        margin-bottom: 10px;
    }
    .telaInicialQuizz input:nth-last-child(1){
        margin-bottom: 0px;
    }
}
